<div class="form__editteam">
	<form class="form-horizontal form__editteam-form" id="add-form">


		<div style="height: 8rem">
			.
			<div class="alert alert-success form__editteam-success"
				ng-show="showMe">{{success}}</div>
		</div>
		<div class="modal-body d-flex justify-content-center">
			<div class="form__editteam-body">
				<div class="form__editteam-body-input">
					<i class="fas fa-address-card"></i> <input type="text" class=""
						ng-model="loadteams.name" required placeholder="Name team">
				</div>
			</div>
		</div>
		<div class="form__editteam-submit">
			<button type="submit" class="btn btn-primary" ng-click="Add()">Save
				changes</button>
			<a href="http://localhost:8080/EmployeeManager/home#!/team"
				class="btn btn-primary">Back</a>
		</div>
	</form>
</div>
